[submodule "themes/book"]
	path = themes/book
	url = https://github.com/alex-shpak/hugo-book.git
[submodule "themes/plausible-hugo"]
	path = themes/plausible-hugo
	url = https://github.com/divinerites/plausible-hugo.git
